{% extends "base_login.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/estilos.css.' %}">
 {% endblock %}
{% block titulo %} reset pass {% endblock %}
{% block body %} 
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-4 formulario">
            <div class="input-group mb-2 justify-content-center ">
                <div class="input-group-append justify-content-center ">
                    <img src={% static 'imagenes/guru-big.png' %} class="img-fluid " alt="" srcset="" width=40%;
                        height=auto></i>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 id="form-title">Reseteo de clave</h1>
                    <p>¿Olvidaste tu clave?</p>
                    <p>Ingresa el mail con el que te registraste para recuperarla</p>
                    {{form}}
                    <div class="form-group">
                        <input type="submit" class="ntn" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}