{% extends "base_cotizacion.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

<div class="cotizacion-container">
    <h1 class="final-title">{{cliente.nombre}}, encontramos {{ total_por_proveedor|length }} proveedores para tu solicitud:</h1>
    <p class="proveedores-text">Descubre estos precios competitivos y servicios personalizados para el monitoreo y gestión de flotas. Selecciona el servicio que mejor se ajuste a tu necesidad y envíales el aviso de contacto para que te ayuden a optimizar tu negocio.</p>

    {% for total in total_por_proveedor %}
    <div class="proveedor-box">
        <img src="{{total.logo}}" alt="{{total.empresa }}" class="proveedor-logo">
        <p class="proveedor-price">${{total.total}}</p>
        <button class="btn-contacto" data-id="1">Me interesa</button>
    </div>
    {% endfor %}
    
    <!-- Boton Quiero que me contacten -->
    <button class="contactar-boton no-contact" id="finalContact">No Quiero que me contacten</button>

    <!-- Notas de Pie -->
    <div class="footer-notes">
        <span>*Precio promedio mensual sugerido del servicio + impuestos.</span>
        <span>**Válido por 5 días a partir de su emisión.</span>
    </div>
</div>
{% endblock %}