{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TUM GURU</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'imagenes/guru-big.png' %}"/>
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link rel="stylesheet" href="{% static 'css/all.css'%}">
    </head>
    <body>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-6 px-lg-5 h-100 align-items-center">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold" style="color: #fa560a;"> TUM GURU <br> </h1>
                        <h2 class="text-white font-weight-bold" style="color: #cfc3a0;">El representante de ventas de la marca te contactará para cerrar los detalles de la propuesta</h2>
                        <hr class="divider" />
                    </div>
                    <div class="background text-center">    
                        <img src="{% static 'imagenes/guru-big.png' %}"  text align: center; class="flotante"  alt="Genio flotando">
                        <a class="btn btn-light btn-xl" href="{% url 'inicio' %}">Ir al Inicio</a>                        
                    </div>
                </div>
            </div>
        </header>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script type='text/javascript' src='{% static "js/scripts.js" %}'></script>
        <script type='text/javascript' src='{% static "js/script.js.descarga.js" %}'></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>