{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/mis_datos.css' %}">
{% endblock %}
{% block navbar %}

<div class="mb-5 " id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 px-5 px-lg-5" id="mainNav">
        <div class="container-fluid px-5 px-lg-5">
        <a class="navbar-brand ms-5 px-5 px-lg-5" href="{% url 'inicio' %}" style="font-size: 20px;">Inicio</a> 
            <button class="navbar-toggler navbar-toggler-right " type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cotizar' %}" style="font-size: 20px;">Cotizar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mis_cotizaciones' %}" style="font-size: 20px;">Mis Cotizaciones</a>
                    </li>
                    
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{% url 'logout' %}" style="font-size: 20px;">Log Out</a>
                        
                    </li>
                </ul>
            </div>
        </div>                         
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container container2 mt-5">
    <h2 class="text-center">Editar Mi Perfil</h2>

    <!-- Mensaje de éxito -->
    {% if messages %}
    <div class="alert alert-success">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="POST" action="{% url 'perfil' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            {{ formulario.username }}
        </div>
        <div class="form-group">
            <label for="first_name">Primer Nombre</label>
            {{ formulario.first_name }}
        </div>
        <div class="form-group">
            <label for="last_name">Apellido</label>
            {{ formulario.last_name }}
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            {{ formulario.email }} 
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
    </form>

    {% if formulario.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in formulario.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
</div>
{% endblock %}
